.CardConatainer {
  cursor: pointer;
  //   background-color: brown;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  transition: 0.3s all ease-in-out;
  border-bottom: 1px solid #7070704f;

  p {
    color: #333333;
  }
  h4 {
    color: rgba(0, 0, 0, 0.836);
  }
}

.TagContainer {
  display: flex;
  gap: 1rem;
  transition: 1s all ease-in-out;
  animation-name: tagsAnim;
  animation-duration: 0.2s;
  div {
    background-color: #32a0606c;
    padding: 0.1rem 0.6rem;
    color: #207544;
  }
}

@keyframes tagsAnim {
  0% {
    height: 0;
    opacity: 0;
    transform: scale(0);
  }

  100% {
    height: auto;
    opacity: 1;
    transform: scale(1);
  }
}
